@font-face {
    font-family: 'ArcadeClassic';
    src: url(../public/ARCADECLASSIC.TTF);
  }

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Set a high z-index value */
  }
  
  .custom-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    z-index: 10000;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  
    h2 {
      margin: 0;
      font-family: 'ArcadeClassic';
      font-size: 40px;
    }
  
    .close {
      cursor: pointer;
      font-size: 20px;
    }
  }
  
  .modal-content {
    font-family: 'monoscape';
    font-size: 30px;
  }
  